<div id="note-toolbar">
  <div class="left">
    <button ly-button size="small" (click)="openAppsDialog()">
      <ly-icon color="#838383">apps</ly-icon>
    </button>
  </div>

  <div class="draggable"></div>

  <div class="right">
    <button ly-button size="small" (click)="addNewNote()">
      <ly-icon color="#838383">add</ly-icon>
    </button>
    <button ly-button size="small" routerLink="/apps/note/list">
      <ly-icon color="#838383" bg="SublimeLight">list</ly-icon>
    </button>
  </div>
</div>
