<div class="apps-todo mat-typography">
  <section class="todoapp">
    <header class="header">
      <apps-nav />
      <input #newTodoElement class="new-todo" placeholder="write to-do" />
      <span *ngIf="newTodoElement.value" (click)="addTodo()" class="todo-input-send">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048">
          <path
            d="M64 1920q-28 0-46-18t-18-47q0-7 2-17l189-658q5-17 19-30t32-16l878-139q14-2 22-11t8-24q0-14-8-23t-22-12L242 786q-18-3-32-16t-19-30L2 82Q0 72 0 65q0-28 18-46T64 0q15 0 27 6l1920 896q17 8 27 23t10 35q0 19-10 34t-27 24L91 1914q-12 6-27 6z"
            fill="#D5D5DB"
          ></path>
        </svg>
      </span>
    </header>
    <section class="main" *ngIf="todoStore.todos.length > 0">
      <input
        id="toggle-all"
        class="toggle-all"
        type="checkbox"
        *ngIf="todoStore.todos.length"
        #toggleall
        [checked]="todoStore.allCompleted()"
        (click)="todoStore.setAllTo(toggleall.checked)"
      />
      <ul class="todo-list">
        <li
          *ngFor="let todo of todoStore.todos"
          [class.completed]="todo.completed"
          [class.editing]="todo.editing"
        >
          <div class="view">
            <input
              class="toggle"
              type="checkbox"
              (click)="toggleCompletion(todo)"
              [checked]="todo.completed"
            />
            <label (click)="editTodo(todo)">{{ todo.title }}</label>
            <button class="destroy" (click)="remove(todo)"></button>
          </div>
          <input
            class="edit"
            #editedTodoElement
            *ngIf="todo.editing"
            [value]="todo.title"
            (blur)="updateEditingTodo(todo, editedTodoElement.value)"
            (keypress)="handleKeyPress($event, todo, editedTodoElement.value)"
            (keydown.escape)="cancelEditingTodo(todo)"
          />
        </li>
      </ul>
    </section>
    <footer class="footer" *ngIf="todoStore.todos.length > 0">
      <span class="todo-count">
        <strong>{{ todoStore.getRemaining().length }}</strong>
        {{ todoStore.getRemaining().length == 1 ? 'item' : 'items' }} left
      </span>
      <button
        class="clear-completed"
        *ngIf="todoStore.getCompleted().length > 0"
        (click)="removeCompleted()"
      >
        Clear completed
      </button>
    </footer>
  </section>
</div>
