<!--🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅

show deleted cards dialog 😄 

🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅-->
<table ly-dialog-content ly-table [dataSource]="cards" [lyElevation]="8" [lyWidth]="1">
  <ng-container *ngFor="let column of columns" [lyColumnDef]="column.columnDef">
    <th ly-header-cell *lyHeaderCellDef> {{ column.header }} </th>
    <td ly-cell (contextmenu)="viewMenu(row)" *lyCellDef="let row">
      {{ column.cell(row) }}
    </td>
  </ng-container>
  <tr ly-header-row *lyHeaderRowDef="displayedColumns"></tr>
  <tr ly-row *lyRowDef="let row; columns: displayedColumns"></tr>
</table>
