<!--🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅

show password-generator dialog 😄 

🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅-->
<div class="password-generator">
  <h4 ly-dialog-title>Password Generator</h4>
  <div ly-dialog-content>
    <p lyTyp="body2" color="text:secondary">{{ securePassword }}</p>
  </div>
  <ly-grid container justify="end" ly-dialog-actions>
    <button ly-button color="primary" (click)="dialogRef.close()">Cancel</button>
    <span>&nbsp;</span>
    <button
      ly-button
      cdkFocusInitial
      color="primary"
      (click)="dialogRef.close(securePassword)"
    >
      Copy
    </button>
  </ly-grid>
</div>
