<!-- Original code: ng-devui/steps-guide/steps-guide.component.html  -->
<div class="devui-shining-dot" #partyEL></div>
<div class="devui-shining-plus"></div>
<div class="devui-arrow"></div>
<div class="devui-guide-container">
  <p class="devui-title">{{ title }}</p>
  <ly-icon class="icon-close" (click)="closeAll()">close</ly-icon>
  <div class="devui-content" [innerHTML]="content | safe: 'html'"></div>
  <div class="devui-ctrl">
    <div *ngIf="dots.length > 1 && !extraConfig?.hideStepNav" class="devui-dots">
      <em
        *ngFor="let dot of dots; index as i"
        class="icon icon-dot-status {{ i === stepIndex ? 'devui-active' : '' }}"
      ></em>
    </div>
    <div class="devui-guide-btn">
      <button
        ly-button
        raised
        *ngIf="stepIndex > 0 && !extraConfig?.hidePreStep"
        class="devui-prev-step"
        (click)="prev()"
      >
        Previous
      </button>
      <span>&nbsp;&nbsp;</span>
      <button
        ly-button
        raised
        type="button"
        *ngIf="stepIndex + 1 < stepsCount"
        (click)="next()"
      >
        Continue
      </button>
      <span>&nbsp;&nbsp;</span>
      <button ly-button raised *ngIf="stepIndex === stepsCount - 1" (click)="closeAll()">
        OK
      </button>
    </div>
  </div>
</div>
