<div class="settings">
  <ly-tabs>
    <ly-tab *ngFor="let label of labels; let i = index">
      <button ly-tab-label [active]="activeIndex === i" (click)="next(i)">
        {{ label }}
      </button>
    </ly-tab>
  </ly-tabs>
  <section
    class="tabs-content"
    [ngStyle]="{
      overflow: tabsContentOverflowStyle
    }"
  >
    <div class="swiper swiper-container" #swiperContainer>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div [lyMe]="1">
            <ly-checkbox
              color="primary"
              *ngFor="let item of checkboxTasks"
              [(ngModel)]="item.completed"
              (ngModelChange)="item.onChange(item.completed)"
            >
              {{ i18nText[item.label] }}
            </ly-checkbox>
            <br />
            <div
              class="slider-container swiper-no-swiping"
              *ngFor="let item of sliderTasks"
            >
              <ly-slider
                [(ngModel)]="item.value"
                (ngModelChange)="item.onChange(item.value)"
                (click)="$event.preventDefault()"
                [min]="item.min"
                [max]="item.max"
                [step]="item.step"
                [marks]="false"
                [ticks]="false"
                [thumbVisible]="null"
                size="medium"
                color="primary"
                [appearance]="'standard'"
              >
                <ly-mark *ngFor="let mark of item.marks" [value]="mark.value">
                  {{ mark.label }}
                </ly-mark>
              </ly-slider>
              <p>{{ i18nText[item.name] }}</p>
            </div>
            <br />
            <button ly-button raised (click)="showTutorialDialog()">
              <span [lyPf]="1" ly-line>Languages</span>
              <ly-icon color="primary">translate</ly-icon>
            </button>
          </div>
        </div>
        <div class="swiper-slide">
          <form [formGroup]="form">
            <div formArrayName="keyboardShortcuts">
              <ly-field
                class="swiper-no-swiping"
                [lyWidth]="1"
                appearance="outlined"
                *ngFor="let item of kbsFormArray.controls; index as i"
              >
                <input
                  (scroll)="stopScroll($event)"
                  lyNativeControl
                  readonly
                  type="text"
                  (keydown)="keyInput(i, $event)"
                  [formControlName]="i"
                />
                <ly-label>{{ initialKbs[i].label }}</ly-label>
                <button
                  ly-button
                  *ngIf="item.value"
                  appearance="icon"
                  lySuffix
                  (click)="item.setValue('')"
                  title="Clear"
                >
                  <ly-icon>close</ly-icon>
                </button>
                <button
                  ly-button
                  appearance="icon"
                  lySuffix
                  (click)="item.setValue(initialKbs[i].key)"
                  title="Reset"
                >
                  <ly-icon>restart_alt</ly-icon>
                </button>
              </ly-field>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
