.settings {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
}

ly-checkbox {
  padding: 5px;
}

.slider-container {
  p {
    margin: -25px 0 0 0;
  }
}
