.container {
  height: 100%;
}

.home-search {
  width: calc(100% - 111px);
}

.menu-btn {
  position: relative;
  right: 8px;
  top: 0;
}

.spacer {
  flex: 1 1 auto;
}

.home-panel-index {
  position: absolute;
  top: -2px;
  left: 4px;
  font-size: 12px;
}
