<!--🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅

Oh hi there! 😄 

🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅-->

<div class="container">
  <ly-toolbar position="static" bg="primary">
    <button
      class="menu-btn"
      color="primary:contrast"
      ly-button
      appearance="icon"
      [lyMenuTriggerFor]="clipboard"
    >
      <ly-icon>menu</ly-icon>
    </button>
    <search class="home-search" (searchFn)="onSearch($event)"></search>
  </ly-toolbar>
  <ng-template #clipboard let-M>
    <ly-menu [ref]="M" [lyWidth]="180">
      <button ly-button ly-menu-item (click)="openDialog('add')">
        <ly-icon>note_add</ly-icon>
        <span class="spacer"></span>
        <span>add</span>
      </button>
      <button ly-button ly-menu-item (click)="exportData($event)">
        <ly-icon>file_download</ly-icon>
        <span class="spacer"></span>
        <span>export</span>
      </button>
      <button ly-button ly-menu-item (click)="importData($event)">
        <ly-icon>file_upload</ly-icon>
        <span class="spacer"></span>
        <span>import</span>
      </button>
      <button ly-button ly-menu-item (click)="showDeletedCards()">
        <ly-icon>delete</ly-icon>
        <span class="spacer"></span>
        <span>show deleted</span>
      </button>
      <button ly-button ly-menu-item (click)="setPassword()">
        <ly-icon>lock</ly-icon>
        <span class="spacer"></span>
        <span>set password</span>
      </button>
    </ly-menu>
  </ng-template>

  <ly-accordion
    [withClass]="classes.accordion"
    [hasToggle]="false"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
  >
    <ly-expansion-panel
      cdkDrag
      [class]="classes.panelafter"
      *ngFor="let card of cards$ | async; let i = index; trackBy: trackByFn"
      (contextmenu)="viewMenu(card)"
    >
      <ly-expansion-panel-header homeMouseToggleDirective>
        <ly-panel-title [class]="classes.title">
          <span lyTyp="caption" class="home-panel-index">{{ i + 1 }}</span>
          <ng-container>
            {{ card.sysname }}
          </ng-container>
        </ly-panel-title>
        <button
          ly-button
          bg="primary"
          (click)="openBrowser(card, $event)"
          [lyTooltip]="card.url"
        >
          <ly-icon>send</ly-icon>
        </button>
      </ly-expansion-panel-header>
      <ly-paper>
        <ly-list>
          <button ly-list-item (click)="copy(card, 'username')">
            <ly-icon (click)="seeAccount($event)" ly-list-icon>account_box</ly-icon>
            <span ly-line>{{ card.username }}</span>
          </button>
          <home-password [card]="card" (click)="copy(card, 'password')"></home-password>
        </ly-list>
      </ly-paper>
    </ly-expansion-panel>
  </ly-accordion>

  <ng-template ly-snack-bar #sb="lySnackBar" [duration]="1000" let-msg="msg">
    <p style="margin: 0 auto; color: rgb(255, 41, 151)">{{ msg }}</p>
  </ng-template>
</div>
