<h4 ly-dialog-title style="margin: 16px" *ngIf="!isLogin">
  set a password, protect your password more securely, but you must input it everytime.
</h4>
<div ly-dialog-content style="margin: 12px">
  <ly-field appearance="outlined" [lyWidth]="1">
    <input
      lyNativeControl
      placeholder="type a password"
      (keydown.enter)="ok()"
      [(ngModel)]="data.password"
    />
  </ly-field>
</div>
<ly-grid container justify="end" ly-dialog-actions>
  <button ly-button color="primary" (click)="dialogRef.close()" *ngIf="!isLogin">
    CANCEL
  </button>
  <button ly-button color="primary" (click)="ok()">DONE</button>
</ly-grid>
