<div class="apps-dialog">
  <ly-toolbar position="static" bg="primary" [elevation]="3">
    <ly-grid container justify="between" ly-dialog-actions>
      <p lyTyp="caption">Apps</p>
      <ly-icon cdkFocusRegionStart (click)="dialogRef.close()">close</ly-icon>
    </ly-grid>
  </ly-toolbar>
  <div ly-dialog-content class="apps-dialog-content" (click)="dialogRef.close()">
    <ly-grid container spacing="16 8@XSmall">
      <ly-grid item col="3 2@Small@Medium 1.2@Large 1@XLarge">
        <div [className]="classes.box">
          <button ly-button title="passbox" routerLink="/home">
            <img src="assets/svg/apps/passbox.svg" alt="passbox" />
          </button>
        </div>
      </ly-grid>
      <ly-grid item col="3 2@Small@Medium 1.2@Large 1@XLarge">
        <div [className]="classes.box">
          <button ly-button title="notes" routerLink="/apps/note/home">
            <img src="assets/svg/apps/note.svg" alt="note" />
          </button>
        </div>
      </ly-grid>
      <ly-grid item col="3 2@Small@Medium 1.2@Large 1@XLarge">
        <div [className]="classes.box">
          <button ly-button title="todo" routerLink="/apps/todo">
            <img src="assets/svg/apps/todo.svg" alt="todo" />
          </button>
        </div>
      </ly-grid>
      <ly-grid item col="3 2@Small@Medium 1.2@Large 1@XLarge">
        <div [className]="classes.box">
          <button ly-button title="emoji" routerLink="/apps/emoji">
            <img src="assets/svg/apps/emoji.svg" alt="emoji" />
          </button>
        </div>
      </ly-grid>
    </ly-grid>
  </div>
</div>
