<div class="tutorial">
  <button ly-button class="tutorial-skip" appearance="icon" (click)="dialogRef.close()">
    <ly-icon>close</ly-icon>
  </button>
  <canvas id="bg" [className]="classes.canvas"></canvas>
  <div class="swiper swiper-container" #swiperContainer>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div [className]="classes.intraContainer">
          <div [className]="classes.intraContent">
            <h2 [lyTyp]="'display2'">{{ i18nText.welcome }}</h2>
            <p [lyTyp]="'title'">{{ i18nText.please }}</p>
            <div [className]="classes.buttons" #languageBtns>
              <button
                id="en"
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === i18nEnum.English
                }"
                (click)="setLanguage(i18nEnum.English)"
              >
                English
              </button>
              <button
                id="zh"
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === i18nEnum.Chinese
                }"
                (click)="setLanguage(i18nEnum.Chinese)"
              >
                中文
              </button>
              <button
                id="ja"
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === i18nEnum.Japanese
                }"
                (click)="setLanguage(i18nEnum.Japanese)"
              >
                日本語
              </button>
              <button
                id="es"
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === i18nEnum.Spanish
                }"
                (click)="setLanguage(i18nEnum.Spanish)"
              >
                Español
              </button>
              <button
                id="de"
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === i18nEnum.German
                }"
                (click)="setLanguage(i18nEnum.German)"
              >
                Deutsch
              </button>
              <button
                id="ru"
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === i18nEnum.Russian
                }"
                (click)="setLanguage(i18nEnum.Russian)"
              >
                Русский
              </button>
              <button
                id="fr"
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === i18nEnum.French
                }"
                (click)="setLanguage(i18nEnum.French)"
              >
                Français
              </button>
              <button
                id="it"
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === i18nEnum.Italian
                }"
                (click)="setLanguage(i18nEnum.Italian)"
              >
                Italiano
              </button>
              <button
                id="pt"
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === i18nEnum.Portuguese
                }"
                (click)="setLanguage(i18nEnum.Portuguese)"
              >
                Português
              </button>
              <button
                id="pl"
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === i18nEnum.Polish
                }"
                (click)="setLanguage(i18nEnum.Polish)"
              >
                Polski
              </button>
              <button
                id="ar"
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === i18nEnum.Arabic
                }"
                (click)="setLanguage(i18nEnum.Arabic)"
              >
                العربية
              </button>
              <button
                id="fa"
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === i18nEnum.Persian
                }"
                (click)="setLanguage(i18nEnum.Persian)"
              >
                زبان فارسی
              </button>
              <button
                id="id"
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === i18nEnum.Indonesian
                }"
                (click)="setLanguage(i18nEnum.Indonesian)"
              >
                Bahasa Indonesia
              </button>
              <button
                id="nl"
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === i18nEnum.Dutch
                }"
                (click)="setLanguage(i18nEnum.Dutch)"
              >
                Nederlands
              </button>
            </div>
            <ly-grid container justify="end" ly-dialog-actions>
              <button ly-button class="tutorial-language-next" (click)="next(1)">
                <span [lyPf]="1">Next</span>
                <ly-icon>navigate_next</ly-icon>
              </button>
            </ly-grid>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div [className]="classes.intraContainer">
          <div [className]="classes.intraContent">
            <div class="statement-box">
              <div class="statement-box-text">
                TODO: {{ i18nText.statement }}
                <br />
                I used AI to translate. Please let me know if you find any errors.
              </div>
            </div>

            <ly-grid container justify="between" ly-dialog-actions style="width: 100vw">
              <button ly-button class="tutorial-language-next" (click)="next(0)">
                <ly-icon>arrow_back</ly-icon>
                <span [lyPf]="1">&nbsp;Previous</span>
              </button>
              <button ly-button class="tutorial-language-next" (click)="next(2)">
                <span [lyPf]="1">Continue</span>
                <ly-icon>arrow_forward</ly-icon>
              </button>
            </ly-grid>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div [className]="classes.intraContainer">
          <div [className]="classes.intraContent">
            <h1><img src="assets/svg/ready.svg" class="slide-image" /></h1>
            <p class="slide-ready">Ready to Play?</p>
            <ly-grid container justify="end" ly-dialog-actions>
              <button ly-button raised (click)="dialogRef.close()" cdkFocusRegionStart>
                <span [lyPf]="1">Continue</span>
                <ly-icon>arrow_forward</ly-icon>
              </button>
            </ly-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
