.tutorial {
  z-index: 1200; // theme.zIndex.overlay
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.tutorial-skip {
  position: fixed;
  right: 1px;
  top: 1px;
  border: 0;
  color: #fff;
  z-index: 1200; // theme.zIndex.overlay
}

.tutorial-active-btn {
  color: rgb(255 255 255);
  background: rgb(255 41 151);
  box-shadow:
    0 1px 8px 0 rgb(241 0 108 / 20%),
    0 3px 4px 0 rgb(241 0 108 / 14%),
    0 3px 3px -2px rgb(241 0 108 / 12%);
}

.tutorial-language-next {
  color: #fff;
}

.slide-ready {
  color: #fff;
  margin: 80px 0 30px;
}

.slide-image {
  animation: 1s ease-in-out infinite alternate ready;
  pointer-events: none;
  transform-origin: top;
}

@keyframes ready {
  0% {
    transform: scale(1.4) translateY(0);
  }

  100% {
    transform: scale(1.4) translateY(4px);
  }
}

.statement-box {
  cursor: grab;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  justify-content: center;
  align-items: center;
}

.statement-box-text {
  text-align: center;
}
