<div class="tutorial">
  <ly-toolbar position="absolute">
    <ly-grid container justify="end" ly-dialog-actions>
      <ly-icon cdkFocusRegionStart (click)="dialogRef.close()">SKIP</ly-icon>
    </ly-grid>
  </ly-toolbar>
  <div class="swiper swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        111
      </div>
      <div class="swiper-slide">
        222
      </div>
      <div class="swiper-slide">
       333
      </div>
      <div class="swiper-slide">
        444
      </div>
    </div>
  </div>
</div>
