<div class="tutorial" cdkFocusRegionEnd>
  <button ly-button class="tutorial-skip" appearance="icon" (click)="dialogRef.close()">
    <ly-icon>close</ly-icon>
  </button>
  <canvas id="bg" [className]="classes.canvas"></canvas>
  <div class="swiper swiper-container" #swiperContainer>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div [className]="classes.intraContainer">
          <div [className]="classes.intraContent">
            <h2 [lyTyp]="'display2'">{{ i18nText.welcome }}</h2>
            <p [lyTyp]="'title'">{{ i18nText.please }}</p>
            <div [className]="classes.buttons">
              <button
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === 'en'
                }"
                (click)="setLanguage('en')"
              >
                English
              </button>
              <button
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === 'zh'
                }"
                (click)="setLanguage('zh')"
              >
                中文
              </button>
              <button
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === 'ja'
                }"
                (click)="setLanguage('ja')"
              >
                日本語
              </button>
              <button
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === 'es'
                }"
                (click)="setLanguage('es')"
              >
                Español
              </button>
              <button
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === 'de'
                }"
                (click)="setLanguage('de')"
              >
                Deutsch
              </button>
              <button
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === 'ru'
                }"
                (click)="setLanguage('ru')"
              >
                Русский
              </button>
              <button
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === 'fr'
                }"
                (click)="setLanguage('fr')"
              >
                Français
              </button>
              <button
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === 'it'
                }"
                (click)="setLanguage('it')"
              >
                Italiano
              </button>
              <button
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === 'pt'
                }"
                (click)="setLanguage('pt')"
              >
                Português
              </button>
              <button
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === 'pl'
                }"
                (click)="setLanguage('pl')"
              >
                Polski
              </button>
              <button
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === 'ar'
                }"
                (click)="setLanguage('ar')"
              >
                العربية
              </button>
              <button
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === 'fa'
                }"
                (click)="setLanguage('fa')"
              >
                زبان فارسی
              </button>
              <button
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === 'id'
                }"
                (click)="setLanguage('id')"
              >
                Bahasa Indonesia
              </button>
              <button
                ly-button
                raised
                color="primary"
                [ngClass]="{
                  'tutorial-active-btn': i18nText.currentLanguage === 'nl'
                }"
                (click)="setLanguage('nl')"
              >
                Nederlands
              </button>
            </div>
            <ly-grid container justify="end" ly-dialog-actions>
              <button ly-button class="tutorial-language-next" (click)="next(1)">
                <span [lyPf]="1">Next</span>
                <ly-icon>navigate_next</ly-icon>
              </button>
            </ly-grid>
          </div>
        </div>
      </div>
      <div class="swiper-slide" cdkFocusRegionStart>
        <div [className]="classes.intraContainer">
          <div [className]="classes.intraContent">
            <h1><img src="assets/svg/ready.svg" class="slide-image" /></h1>
            <p class="slide-ready">Ready to Play?</p>
            <ly-grid container justify="end" ly-dialog-actions>
              <button ly-button raised (click)="dialogRef.close()">
                <span [lyPf]="1">Continue</span>
                <ly-icon>arrow_forward</ly-icon>
              </button>
            </ly-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
