.container {
  height: 100%;
}

.home-search {
  width: calc(100% - 143px);
}

.menu-btn-left {
  cursor: pointer;
  padding: 9px;
}

.menu-btn-right {
  position: relative;
  right: -63px;
  top: 0;
}

.spacer {
  flex: 1 1 auto;
}

.home-drag-handle {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 54px;
  cursor: move;
  background: transparent;
}

.home-tooltip-description {
  position: absolute;
  top: 0;
  right: 0;
  width: 54px;
  height: 54px;
  background: transparent;
  cursor: default;
}

.home-tooltip-url {
  position: absolute;
  top: 0;
  right: 54px;
  width: 54px;
  height: 54px;
  background: transparent;
  cursor: default;
}

.home-title {
  cursor: default;
}
