<div class="note-editor-page">
  <div class="toolbar">
    <label class="title">
      <input
        type="text"
        placeholder="Write note title"
        [(ngModel)]="note.title"
        (change)="onTitleChanged()"
      />
    </label>

    <div class="actions">
      <button ly-button size="small">
        <ly-icon color="warn" (click)="deleteNote(note)">delete</ly-icon>
      </button>
    </div>
  </div>

  <quill-editor
    [(ngModel)]="note.content"
    [modules]="editorConfig"
    (onContentChanged)="onContentChanged()"
    spellcheck="false"
  ></quill-editor>
</div>
