<div class="note-editor-page">
  <div class="toolbar">
    <label class="title">
      <input
        type="text"
        placeholder="Write note title"
        [(ngModel)]="note.title"
        (change)="onTitleChanged()"
      />
    </label>

    <div class="actions">
      <button ly-button size="small">
        <ly-icon color="warn" (click)="deleteNote(note)">delete</ly-icon>
      </button>
    </div>
  </div>
  <div #quillEditorContainer>
    <div #quillEditorToolbar>
      <span class="ql-formats">
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
        <button class="ql-underline"></button>
        <button class="ql-strike"></button>
      </span>
      <span class="ql-formats">
        <select class="ql-align">
          <option label="left"></option>
          <option label="center" value="center"></option>
          <option label="right" value="right"></option>
          <option label="justify" value="justify"></option>
        </select>
      </span>
      <span class="ql-formats">
        <button class="ql-image"></button>
        <button class="ql-code-block"></button>
        <button class="ql-formula"></button>
      </span>
      <span class="ql-formats">
        <select class="ql-header">
          <option value="1">Heading</option>
          <option value="2">Subheading</option>
          <option value="3">Normal</option>
        </select>
      </span>
    </div>
    <div #quillEditor class="note-quill-editor"></div>
  </div>
</div>
